<footer class='footer auto-padding'>
  <div class='social-medias'>
    <a href='https://dev.aleretamero.com.br' target='_blank'>
      <svg
        height='59'
        width='59'
        version='1.1'
        id='Capa_1'
        viewBox='0 0 230.795 230.795'
      >
        <g>
          <path
            d='M60.357,63.289c-2.929-2.929-7.678-2.93-10.606-0.001L2.197,110.836C0.79,112.243,0,114.151,0,116.14
c0,1.989,0.79,3.896,2.196,5.303l47.348,47.35c1.465,1.465,3.384,2.197,5.304,2.197c1.919,0,3.839-0.732,5.303-2.196
c2.93-2.929,2.93-7.678,0.001-10.606L18.107,116.14l42.25-42.245C63.286,70.966,63.286,66.217,60.357,63.289z'
            fill='#F6FBF4'
          />
          <path
            d='M228.598,110.639l-47.355-47.352c-2.928-2.928-7.677-2.929-10.606,0.001c-2.929,2.929-2.929,7.678,0.001,10.607
l42.051,42.048l-42.249,42.243c-2.93,2.929-2.93,7.678-0.001,10.606c1.465,1.465,3.384,2.197,5.304,2.197
c1.919,0,3.839-0.732,5.303-2.196l47.554-47.547c1.407-1.406,2.197-3.314,2.197-5.304
C230.795,113.954,230.005,112.046,228.598,110.639z'
            fill='#F6FBF4'
          />
          <path
            d='M155.889,61.302c-3.314-2.484-8.017-1.806-10.498,1.51l-71.994,96.184c-2.482,3.316-1.807,8.017,1.51,10.498
c1.348,1.01,2.925,1.496,4.488,1.496c2.282,0,4.537-1.038,6.01-3.006L157.398,71.8C159.881,68.484,159.205,63.784,155.889,61.302z'
            fill='#F6FBF4'
          />
        </g>
      </svg>
    </a>
    <a href='https://www.linkedin.com/in/alexandreretamero' target='_blank'>
      <svg width='59' height='58' viewBox='0 0 59 58' fill='none'>
        <g id='linkedin'>
          <path
            id='Vector'
            d='M51.105 3.47998H7.59368C5.59993 3.47998 3.98001 5.12256 3.98001 7.13897V50.571C3.98001 52.5874 5.59993 54.23 7.59368 54.23H51.105C53.0988 54.23 54.73 52.5874 54.73 50.571V7.13897C54.73 5.12256 53.0988 3.47998 51.105 3.47998ZM19.3183 46.98H11.7964V22.7604H19.3296V46.98H19.3183ZM15.5574 19.4526C13.1445 19.4526 11.196 17.4929 11.196 15.0913C11.196 12.6897 13.1445 10.73 15.5574 10.73C17.9589 10.73 19.9187 12.6897 19.9187 15.0913C19.9187 17.5042 17.9702 19.4526 15.5574 19.4526ZM47.514 46.98H39.9921V35.1987C39.9921 32.3894 39.9355 28.7757 36.0839 28.7757C32.1644 28.7757 31.564 31.8343 31.564 34.9948V46.98H24.0421V22.7604H31.2581V26.0683H31.3601C32.3683 24.1651 34.8265 22.1601 38.4855 22.1601C46.098 22.1601 47.514 27.1784 47.514 33.7034V46.98Z'
            fill='#F6FBF4'
          />
        </g>
      </svg>
    </a>
    <a href='https://github.com/aleretamero' target='_blank'>
      <svg width='59' height='58' viewBox='0 0 59 58' fill='none'>
        <g id='github-square'>
          <path
            id='Vector'
            d='M49.4375 3.625H9.5625C6.56055 3.625 4.125 6.06055 4.125 9.0625V48.9375C4.125 51.9395 6.56055 54.375 9.5625 54.375H49.4375C52.4395 54.375 54.875 51.9395 54.875 48.9375V9.0625C54.875 6.06055 52.4395 3.625 49.4375 3.625ZM35.5379 47.091C34.5863 47.2609 34.2352 46.6719 34.2352 46.1848C34.2352 45.573 34.2578 42.4465 34.2578 39.9203C34.2578 38.1531 33.6687 37.0316 32.9777 36.4426C37.1691 35.9781 41.5871 35.4004 41.5871 28.1617C41.5871 26.1 40.8508 25.0691 39.65 23.7438C39.8426 23.2566 40.4883 21.2516 39.4574 18.6461C37.8828 18.159 34.2805 20.6738 34.2805 20.6738C32.7852 20.2547 31.1652 20.0395 29.568 20.0395C27.9707 20.0395 26.3508 20.2547 24.8555 20.6738C24.8555 20.6738 21.2531 18.159 19.6785 18.6461C18.6477 21.2402 19.282 23.2453 19.4859 23.7438C18.2852 25.0691 17.7188 26.1 17.7188 28.1617C17.7188 35.3664 21.9441 35.9781 26.1355 36.4426C25.5918 36.9297 25.1047 37.768 24.9348 38.9688C23.8586 39.4559 21.1059 40.2941 19.4633 37.3941C18.4324 35.6043 16.5746 35.457 16.5746 35.457C14.7395 35.4344 16.45 36.6125 16.45 36.6125C17.6734 37.1789 18.5344 39.3539 18.5344 39.3539C19.6332 42.7184 24.8895 41.5855 24.8895 41.5855C24.8895 43.1602 24.9121 45.7203 24.9121 46.1848C24.9121 46.6719 24.5723 47.2609 23.6094 47.091C16.1328 44.5875 10.8992 37.4734 10.8992 29.1586C10.8992 18.7594 18.8516 10.8637 29.2508 10.8637C39.65 10.8637 48.0781 18.7594 48.0781 29.1586C48.0895 37.4734 43.0145 44.5988 35.5379 47.091ZM24.425 40.1695C24.2098 40.2148 24.0059 40.1242 23.9832 39.977C23.9605 39.807 24.1078 39.6598 24.323 39.6145C24.5383 39.5918 24.7422 39.6824 24.7648 39.8297C24.7988 39.977 24.6516 40.1242 24.425 40.1695ZM23.3488 40.0676C23.3488 40.2148 23.1789 40.3395 22.9523 40.3395C22.7031 40.3621 22.5332 40.2375 22.5332 40.0676C22.5332 39.9203 22.7031 39.7957 22.9297 39.7957C23.1449 39.773 23.3488 39.8977 23.3488 40.0676ZM21.7969 39.943C21.7516 40.0902 21.525 40.1582 21.3324 40.0902C21.1172 40.0449 20.9699 39.875 21.0152 39.7277C21.0605 39.5805 21.2871 39.5125 21.4797 39.5578C21.7062 39.6258 21.8535 39.7957 21.7969 39.943ZM20.4035 39.3313C20.3016 39.4559 20.0863 39.4332 19.9164 39.2633C19.7465 39.116 19.7012 38.9008 19.8145 38.7988C19.9164 38.6742 20.1316 38.6969 20.3016 38.8668C20.4488 39.0141 20.5055 39.2406 20.4035 39.3313ZM19.3727 38.3004C19.2707 38.3684 19.0781 38.3004 18.9535 38.1305C18.8289 37.9605 18.8289 37.768 18.9535 37.6887C19.0781 37.5867 19.2707 37.666 19.3727 37.8359C19.4973 38.0059 19.4973 38.2098 19.3727 38.3004ZM18.6363 37.2016C18.5344 37.3035 18.3645 37.2469 18.2398 37.1336C18.1152 36.9863 18.0926 36.8164 18.1945 36.7371C18.2965 36.6352 18.4664 36.6918 18.591 36.8051C18.7156 36.9523 18.7383 37.1223 18.6363 37.2016ZM17.8773 36.3633C17.832 36.4652 17.6848 36.4879 17.5602 36.4086C17.4129 36.3406 17.3449 36.216 17.3902 36.1141C17.4355 36.0461 17.5602 36.0121 17.7074 36.0687C17.8547 36.148 17.9227 36.2727 17.8773 36.3633Z'
            fill='#F6FBF4'
          />
        </g>
      </svg>
    </a>
  </div>
  <p>
    © Todos os direitos reservados. Alexandre Retamero
    {{yearCreatedAt}}-<span id='year'>{{currentYear}}
    </span>.
  </p>
</footer>
