<section class='hero'>
  <div class='content'>
    <h1>{{project.name}}</h1>
    <p>{{project.shortDescription}}</p>
    {{!-- <a href='/docs' target='_blank'>
      <img src='/assets/images/swagger-logo.svg' alt='Swagger logo' />

      <span>Documentação da API</span>
    </a> --}}
  </div>
  <div class='content-image'>
    <img src='/assets/images/image-api.webp' alt='API image' />
  </div>
</section>
